body * {
  box-sizing: border-box; }

body {
    background: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 30px;
}

nav {
    margin: 0 0 8px 0;
    background-color: #444;
    height: 4em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
    z-index: 1;
    padding: 2px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 0 #777;
    position: fixed;
    top: 0;
}

nav img {
    height: 40px;

}

nav a {
    text-decoration: none;
    display: block;

}

nav h3 {
    border-bottom: 2px solid #F06;
    padding-right: 10px;
    margin: 0 0 0 10px;
    text-decoration: none;
    color: #eee;
    display: inline;
    top: 0;
}

nav div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    padding: 5px 8px;
    font-size: 1em;
    font-weight: bold;
}

.container {
    margin-top: 5em;
}


.app {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    justify-content: center;
}

.app main {
    margin-left: auto;
    margin-right: auto;
}

.app figure {
    height: 100%;
    margin: 0;
}

.app a {
    display: inline-block;
    width: 29vw;
    background: #fff;
    height: 33vh;
    overflow-y: hidden;
    text-decoration: none;
    color: #222222;
    box-shadow: 1px 1px 5px 0 #888;

    text-align: center;
    position: relative;
    overflow-x: hidden;
    border-radius: 0;

}

.app a::before {
    content: "";
    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.app a div {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    padding: 5px;
}

.app a .img-holder {

    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, #F06, rgba(255, 0, 109, 0.6));


}

.img-holder img {

    margin-top: 150px;
}

section {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16pt;
    text-indent: 15px;

}

section img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-shadow: 0 0 5px 0 #777;
    max-width: 100%;


}

#content h4 {
    font-weight: 300;
    font-size: 24pt;
}

