body {
    background: #eee;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 0 0 8px 0;
    background-color: #444;
    height: 4em;
    width: 106%;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
    z-index: 1;
    display: flex;
    padding-left: 30px;
    align-items: center;
}
nav .nav-header{
    width: 250px;
}
nav h3 {
    margin: 0;
    border-bottom: 2px solid #F06;
}
nav ul {
    margin: 1em 0 0 3em;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #F06;
    width: 800px;
}
nav li {
    display: inline;
    padding: 5px 8px;
    font-size: 1em;
    font-weight: bold;
}
nav a {
    color: #efefef;
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 05px 05px;
    text-decoration: none;
    text-transform: uppercase;
}

.app {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    justify-content: space-around;
}

.app figure {
    height: 100%;
    margin: 0;
}

.app a {
    display: inline-block;
    width: 30%;
    background: #fff;
    height: 33vh;
    overflow-y: hidden;
    text-decoration: none;
    color: #222222;
    box-shadow: 1px 1px 5px 0 #888;
    padding: 5px;
    text-align: center;
}

.app a::before {
    
}

.app a div {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.app a img {

    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 50%;

}

section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

section img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;


}

