body {
    background: #efefef;
    padding: 0;
    margin: 0;
}

nav {
    margin: 0 0 8px 0;
    background-color: #999;
    height: 4em;
    width: 106%;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
    color: #efefef;
    z-index: 1;
}
nav .nav-header{
    width: 250px;
}
nav h3 {
    margin: 0;
    border-bottom: 2px solid #F06;
}
nav ul {
    margin: 1em 0 0 3em;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #F06;
    width: 800px;
}
nav li {
    display: inline;
    padding: 5px 8px;
    font-size: 1em;
    font-weight: bold;
}
nav a {
    color: #efefef;
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 05px 05px;
    text-decoration: none;
    text-transform: uppercase;
}

.app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    width: 90%;
    justify-content: space-around;
}

.app a {
    display: inline-block;
    width: 30%;
    background: #aaa;
    height: calc(33vh - 4em);
}

.app a img {
    width: 50%;
    height: auto;

}

section {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

section img {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;


}

/*
div .application {
    position: fixed;
    padding: 0 1em;
    margin: 0;
    z-index: 0;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #111;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
}
*/