body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 10px;
    box-shadow: 0 2px 5px 1px #aaa;
    width: 8em;
    padding: 10px;
    text-decoration: none;

    color: #eee;
    background: #f06;

}

a {
    text-decoration: none;
}
