body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 10px;
    box-shadow: 0 2px 5px 1px #aaa;
    width: 8em;
    padding: 10px;
    text-decoration: none;

    color: #eee;
    background: #f06;

}

a {
    text-decoration: none;
}

p {
    width: 400px;
}

.text {
    height: 50px;
    width: 200px;
    font-size: 24pt;
    border: none;
    box-shadow: inset 1px 1px 5px #999;
    padding: 5px;
}

.text:focus {
    outline: none;
}

input.button {
    border: none;
    height: 50px;
    margin: 0;
}

form {
    display: flex;
    align-items: center;

}

form input {
    margin: 10px;
}
