<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700|Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>


<main>

    <article>
        <a href="/admin"><h1>Return</h1></a>
        <h1>How to use the admin panel.</h1>
        <p>
            The panel is pretty simple to use. The main parts are the naming area, the content, the meta, and the submit/delete
            buttons.
        </p>

        <h3>The name</h3>
        <img src="{{ url_for('static', filename='images/nameExample.png') }}">
        <p>
            The name input is how you decide on the page that you are editing, submitting, or deleting. Anytime you want to
            make a change, the backend of the site will make the change to whatever file is specified in the name field.
        </p>

        <h3>The content</h3>
        <img src="{{ url_for('static', filename='images/tagexample.png') }}">
        <p>
            The content area allows you to create new tags for the page with arbitrary tags to use. So you can use nearly
            any tag. There is no nesting of tags in this system though, so anything nested inside will have to be manually put
            there, such as 'a' tags. The class and id of the tag can also be specified for css usage. A dropdown provides
            access to the content of whatever is stored inside the tag.
        </p>
        <p>
            To specify a link use this notation: (text for the link:www.theactuallink.com)
        </p>
        <p>
            A note about image tags, they're specified in the same way, and the content of the tag on the input page, is used
            as the source of the image tag itself.
        </p>
        <h3>The meta</h3>
        <p>
            The meta tags allow you to add information to the page that is not displayed by default. This can be used to add
            extra information like date of creation, author, a short description of the page. All meta attributes are exposed
            to an api where you can request them using javascript.
        </p>

        <h3>Creating pages</h3>
        <p>
            The actual creation of the landing page, and the post pages themselves is done through the jinja system. When creating
            the pages, a dictionary 'f' is exposed that contains all functions that are allowed to be used, an example:
        </p>

        <p>f['convertLink']('(text;link)')</p>

        <p>
            This would return the string an anchor tag with the link notation replaced with actual links, for all link notations
            in the entire string. All of the api functions are also exposed this way. Any API function that returns a JSON
            object, can be converted to a python usable format using the 'conv' function, which is directly exposed as conv(JSON).
        </p>

        <h1>API Functions</h1>

        <h3>apiGetPage()</h3>
        <p>This function returns a the html of the page without extending any other pages</p>
        <p>URL: /api/pages/(page)</p>

        <h3>apiGetTag()</h3>
        <p>This returns directly the value of the requested tag.</p>
        <p>URL: /api/pages/(page)/meta/(tag)</p>

        <h3>apiGetPageMeta()</h3>
        <p>Returns the full meta dictionary in the form of a JSON object.</p>
        <p>URL: /api/pages/(page)/meta</p>

        <h3>apiGetPages()</h3>
        <p>Returns the full list of pages available.</p>
        <p>URL: /api/pages</p>


    </article>



</main>

</body>
</html>