<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="#" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="../static/page.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div>
            <div class="nav-header" >
            <h3> Tinder History for Creepers </h3>
            </div>
        </div>
    </nav>
<div class="container">
    <div class="app">
    {% block content %}

    {% endblock %}
    </div>
</div>
</body>
</html>
