<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="#" />
    <link href="../static/main.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div>
            <div class="nav-header" >
            <h3> Tinder History for Creepers </h3>
            </div>
            <ul>
                <li> Facebook ID: </li>
                <input type="text">
                <li> Tinder Token: </li>
                <input type="text">
                <li> Hotness: </li>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                <!-- Selection box for 1-10 scale -->
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>
