<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Archive</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="#" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="../static/page.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a href="/">
            <div>
                <img src="/static/images/logo.png">
                <h3> Tinder Archive </h3>
            </div>
        </a>
        <a href="/portal"><h3>Start Here </h3></a>


    </nav>
<div class="container">
    <div class="app">
        <main>
    {% block content %}

    {% endblock %}
        </main>
    </div>
</div>
</body>
</html>
