<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder Archive Portal</title>
    <link href="../static/portal.css" rel="stylesheet">
</head>
<body>

    <form action="auth" method="post">
            <input class="text" type="text" name="token" placeholder="token">
            <input class="text" type="text" name="id" placeholder="id">
            <input class="button" type="submit" value="submit">
    </form>
    <span>
        <a href="https://www.facebook.com/dialog/oauth?client_id=464891386855067&redirect_uri=https://www.facebook.com/connect/login_success.html&scope=basic_info,email,public_profile,user_about_me,user_activities,user_birthday,user_education_history,user_friends,user_interests,user_likes,user_location,user_photos,user_relationship_details&response_type=token" target="_blank">
            <div class="button">
                Token retrieval
            </div>
        </a>
        <a href="http://facebook.com/" target="_blank" >
            <div class="button">
                    ID retrieval
            </div>
        </a>
    </span>

    <div>
        <p> <b>Get Token:</b>
            To get your Tinder auth token, click the first link repeatedly until the page returns 'success', and then redirects.
            At this point, you will need to open the link one more time and quickly copy the URL, the URL will contain your API token.
        </p>
        <p>
            To get your facebook ID go to your profile page, and copy the ID from the URL. If you have a text based profile URL,
            go to <a href="http://www.findmyfbid.com">this site</a> and follow the instructions.
        </p>
    </div>

</body>
</html>